<br>
  <div class="container-fluid">
  
    <%= link_to "開封直後の状態(open)", opens_path, class: "link_form" %>
    <%= link_to "完全なシャッフル(Random_shuffle)", librarys_path, class: "link_form" %>
    <%= link_to "ヒンドゥーシャッフル(hindo_shuffle)", hindus_path, class: "link_form" %>
    <%= link_to "リフルシャッフル(riffle_shuffle)", riffles_path, class: "link_form" %>
    <%= link_to "ファローシャッフル(farrow_shuffle)", farrows_path, class: "link_form" %>

  
  
  </div>